/* Font Colors Start */
@logoColor: #C00000;
@textColor: #4C5E70;
@textColor-dark: #000;
@textColor-light: #F2F3F4;
/* Font Colors End */

/* Background Colors Start */
@backgroundColor: #272B30;
/* Background Colors End */

/* Navigation Bar Colors Start */
@primaryNavbarColor: #3A3F44;
/* Navigation Bar Colors End */

/* Row Colors Start */
@rowHeaderColor: #325D88;
@rowColor: #F0F0F0;
@rowColor-alt: @rowColor - #222;
@rowColor-hover: #6c757d;
/* Row Colors End */

/* Icon Colors Start */
@portUp: green;
@portDown: grey;
@portDisabled: black;
@portErrDisabled: red;
/* Icon Colors End */
