@import './Colors.less';

.portModal {
  dl {
    dt {
      text-transform: capitalize;
      text-align: end;
    }

    dt:after {
      content: ':';
    }

    dt:nth-child(5) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;
  }
}