@import './Colors.less';

.deviceContainer {
  padding-top: 165px;
}

.infoContainer {
  position: fixed;
  top: 96px;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 300px auto;
  padding: 5px;
  margin-bottom: 10px;

  dl {
    padding: 0;
    margin: 0;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;

    dt {
      text-align: end;
      text-transform: capitalize;

      &:after {
        content: ':'
      }
    }  

    dd {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }  
  }
}

.devicePorts {
  margin: auto 10px;
  
  ul {
    padding: 0;
    margin: 0;
    margin-right: 1px;
    margin-bottom: 1px;
  }
}
.devicePort {
  border-style: outset;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px black;
  cursor: pointer;
}

.portGroup {
  display: grid;
  grid-auto-columns: 32px;
  grid-gap: 1px;
  float: left;
}

.devicePort:hover {
  border-style: inset;
}

.devicePortUp {
  background-color: @portUp;
}

.devicePortDown {
  background-color: @portDown;
}

.devicePortDisabled {
  color: @textColor-light;
  background-color: @portDisabled;
}

.devicePortErrDisabled {
  background-color: @portErrDisabled;
}

.devicePortNotAllowed {
  cursor: no-drop;
}

@media (max-width: 768px) {
  .deviceContainer {
    padding-top: 66px;
    margin-top: -10px;
  
    nav:first-of-type {
      padding: 0.5rem 1rem;
      position: static;
    }
  }

  .listContainer {
    padding: 0;
  }

  .infoContainer {
    position: static;
}  

  .devicePorts {
    display: none;
  }
}