@import './Colors.less';

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group {
  margin-bottom: 1rem;
}

.loginForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows:  auto auto auto;
  
  h1 {
    color: @logoColor;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
  }

  h2 {
    color: @textColor-light
  }

  form {
    width: 300px;
    margin: auto;
    grid-row: 2;

    div {
      margin-bottom: 2px;

      div {
        padding-left: 12px;
      }
    }

    div:nth-child(4) {
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
      color: @textColor;
      text-align: center;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
      transition: none;
  }
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}