@import './Colors.less';

.list {
  padding: 0;

  li {
    padding: 0 10px;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color: @rowColor;
    display: grid;
    
    &:nth-child(odd) {
      background-color: @rowColor-alt;
    }

    &:first-child {
      background-color: @rowHeaderColor;
      color: @textColor-light;

      dl {
        dt {
          display: inline-block;
        }

        dd {
          display: none;
        }
      }
    }

    dl {
      margin: 0;
      display: grid;
      grid-column-gap: 5px;

      dt {
        display: none;
        text-transform: capitalize;
      }

      dt, dd {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      dd {
        margin: 0;

        a {
          width: 100%;
          display: inline-block;
          text-decoration: none;
          color: @textColor-dark;
        }
      }
    }
  }
}

.listButtons {
  span:last-child {
    text-align: right;

    i {
      padding-left: 3px;
    }
  }
}

.listDevices, .listPorts, .listRoles, .listUsers {
  li {
    grid-template-columns: auto 70px;
  }
}

.listDevices, .listRoles, .listUsers {
  li {
    &:hover {
      background-color: @rowColor-hover;

      &:first-child {
        background-color: @rowHeaderColor;
      }

      a {
        color: @textColor-light
      }
    }
  }
}

.listArp {
  li dl {
    grid-template-columns: 70px 120px 60px 160px 60px 80px;
  }
}

.listAudit {
  li dl {
    grid-template-columns: 180px 120px auto;

    dd:last-child {
      white-space: normal;
    }
  }
}

.listDevices {
  li dl {
    grid-template-columns: 240px 130px 300px minmax(100px, 200px) auto;
  }
}

.listMac {
  li dl {
    grid-template-columns: 70px 160px repeat(2, 80px);
  }
}

.listNeighbors {
  li dl {
    grid-template-columns: 200px 110px repeat(2, 80px) 100px auto;
  }
}

.listPorts {
  li dl {
    grid-template-columns: minmax(55px, 80px) minmax(70px, 100px) repeat(3, minmax(30px, 80px)) minmax(60px, 200px) minmax(40px, 100px) repeat(2, minmax(30px, 100px));
  }
}

.listRoles, .listUsers {
  li dl {
    grid-template-columns: 200px auto;
  }
}

.listSnooping {
  li dl {
    grid-template-columns: 140px 120px 70px 120px 60px auto;
  }
}

.listVlans {
  li dl {
    grid-template-columns: 60px auto;
  }
}


@media (max-width: 768px) {
  .list {
    li {
      border-radius: 0;

      &:first-child {
        display: none;
      }

      dl {
        grid-template-columns: 115px auto;

        dt {
          padding-right: 5px;
          display: inline-block;
          text-align: right;

          &:after {
            content: ':'
          }
        }
      }
    }
  }
}
