@import './Colors.less';
@import './Backgrounds.less';
@import './Buttons.less';
@import './DevicePage.less';
@import './DevicePortModal.less';
@import './ErrorPages.less';
@import './Forms.less';
@import './Lists.less';
@import './Modals.less';
@import './NavigationBar.less';
@import './RolePage.less';
@import './Text.less';
@import './UserManualModal.less';
@import './UserPage.less';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: @textColor;
}

html, body, body > div {
  background-color: @backgroundColor;
}

.pageContainer, .listContainer {
  padding: 10px;
  padding-top: 66px;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;

  // Remove padding it it is nested
  .pageContainer, .listContainer {
    padding: 0;
  }

  & > span:first-of-type {
    display: flex;
    justify-content: flex-start;

    h2 {
      margin: 0;
      color: @textColor-light;
    }

    button {
      height: fit-content;
      width: fit-content;
      margin-left: 10px;
    }
  }

  & > span:last-of-type {
    padding-right: 10px;
  }

  & > div:first-of-type {
    margin: 0;
    grid-column: span 2;
    grid-row: 2;
  }

  ul {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .pageContainer, .listContainer {
    padding: 0;
    padding-top: 66px;

    & > div:first-of-type  input {
      border-radius: 0;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
