.roleContainer {
  display: grid;
  grid-template-columns: auto 768px auto;

  form {
    grid-column: 2;
    
    label {
      margin: 3px 10px;
      color: @textColor-light;
    }
  }
}

.resourceCheckBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  color: white;
  text-transform: capitalize;

  dl {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 5px;
    background-color: #3A3F44;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  dd {
    text-align: right;
  }
}

.checkBoxContinerLabel {
  padding: 10px;
  text-align: center;
  display: block;
}

.control-label {
  font-weight: normal;
}

.saveButton {
  display: block!important; // Overriding bootstrap
  margin-left: auto;
}

@media (max-width: 768px) {
  .roleContainer {
    grid-template-columns: auto;

    form {
      grid-column: 1;

      input {
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .resourceCheckBoxes {
    grid-template-columns: auto;
  }

}