.userContainer {
  display: grid;
  grid-template-columns: auto 768px auto;

  form {
    grid-column: 2;
    
    label {
      margin: 3px 10px;
      color: @textColor-light;
    }
  }

  & div:first-of-type {
    grid-column: span 3;
  }
}

.saveButton {
  display: block!important; // Overriding bootstrap
  margin-left: auto;
}

@media (max-width: 768px) {
  .userContainer {
    grid-template-columns: auto;

    form {
      grid-column: 1;

      input {
        border-radius: 0;
      }
    }
  }
}
