@import './Colors.less';

.modalManualContent{
  max-height: 90vh;
  overflow: auto;
}

.questionMark {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: @textColor-light;
}
